<!DOCTYPE html>
<html>
<head>
  <title>Auth projekt</title>
  <meta charset="UTF-8">
  <meta name="author" content="Lorena Martinović">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="l-flex">
            <a class="navbar-brand" href="/">Home</a>
            <% if(username) {%>
            <a class="navbar-brand" href="/logout">Log out</a>
            <% } else {%>
            <a class="navbar-brand" href="/sign-up">Sign up</a>
            <a class="navbar-brand" href="/login">Log in</a>
            <% } %>
            <a class="navbar-brand" href="/results">Results</a>
            <a class="navbar-brand" href="/rounds">Rounds</a>
          </div>
          <div class="d-flex">
            <button class="btn btn-outline-success"><%=username%></button>
          </div>
        </div>
      </nav>

      <div class="container justify-content-center align-items-center w-75 p-5">
        <% for (round of rounds) {%> 
            <div class="container justify-content-center align-items-center w-75 p-5">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4">Round <%= round['roundid'] %></th>
                        </tr>
                      </thead>
                      <tbody>
                          <% for (match of matches) {%> 
                            <% if (match['roundid'] == round['roundid']) {%> 
                                <tr>
                                    <td class="col-3"><%= match['matchtimestamp'] %></td>
                                    <td class="col-3"><%= match['team1'] %></td>
                                    <td class="col-3"><%= match['team2'] %></td>
                                    <% if (match['score'] != null) { %>
                                        <td class="col-1"><%= match['score'] %></td>
                                    <% } else { %>
                                        <td class="col-1"> - </td>
                                    <% } %>
                                    <% if (username == 'admin@mailinator.com') { %>
                                        <td class="col-1"><a href="/edit/<%= match['matchid'] %>">EDIT</a></td>
                                    <% } %>    
                                </tr>
                            <% } %> 
                          <% } %> 
                      </tbody>
                </table>

                <% if (username) { %>
                    <form class="form-inline" action="/comment/<%= round['roundid'] %>" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3"><%= username %></span>
                            </div>
                            <input type="text" class="form-control" id="comment" aria-describedby="basic-addon3" name="comment" placeholder="Comment on round...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Comment</button>
                            </div>
                        </div>
                    </form>
                
                    <% if (usercomments != undefined) { %>
                    <% for (comment of usercomments) {%>
                        <% if (comment['roundid'] == round['roundid']) { %>
                            <div class="container ">
                                <form class="form-inline d-inline" action="/comment/<%= comment['commentid'] %>" method="post">
                                    <input type="hidden" class="d-inline" id="roundid" name="roundid" value="<%= round['roundid'] %>">
                                    <label ><%= comment['created'] %> Author: <%= comment['username'] %></label>
                                    <input type="text" class="d-inline" id="comment" name="comment" value="<%= comment['commenttext'] %>">
                                    <button type="submit" class="btn btn-primary mb-2 d-inline ">Edit</button>
                                </form>
                                <form class="form-inline d-inline" action="/comment/delete/<%= comment['commentid'] %>" method="post">
                                    <button class="d-inline" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    <% } %>
                    <% } %>
                    

                <% } %>

                
                <% for (comment of comments) {%> 
                    <% if (comment['roundid'] == round['roundid']) {%>
                        <div class="container ">
                            <p class="d-inline"><%= comment['created'] %></p>
                            <p class="d-inline">Author: <%= comment['username'] %></p>
                            <p class="d-inline"><%= comment['commenttext'] %></p>
                            <% if (username == 'admin@mailinator.com') { %>
                                <form class="form-inline d-inline" action="/comment/delete/<%= comment['commentid'] %>" method="post">
                                    <button class="d-inline" type="submit">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>

              </div>

        <% } %> 
        
          
      </div>
</body>